# FIFA DataSet Analysis


* Importing Libraries

In [283]:
#Numpy
import numpy as np

# Pandas
import pandas as pd

# BeautifulSoup
from bs4 import BeautifulSoup

# Requests
import requests

# Reges
import regex as re

* Web Scrapping

In [284]:
req=requests.get("https://sofifa.com/players?offset=1")
req

* BeautifulSoup

In [285]:
soup=BeautifulSoup(req.content)

In [286]:
# Adding the attributes to the array
arr=[]
for i in soup.findAll('td'):
    arr.append(str(i))

* Cleaning Image URL

In [287]:
clean_img=re.sub('<td.*\n.*data-src=.|".*',"",arr[0])
clean_img

'https://cdn.sofifa.net/players/253/537/22_60.png'

In [288]:
# The row is from 0-8
arr[0]

'<td class="col-avatar" data-balloon="Click here!" data-balloon-pos="up" data-balloon-visible=""><figure class="avatar">\n<img alt="" class="player-check" data-root="https://cdn.sofifa.net/players/" data-src="https://cdn.sofifa.net/players/253/537/22_60.png" data-srcset="https://cdn.sofifa.net/players/253/537/22_120.png 2x, https://cdn.sofifa.net/players/253/537/22_180.png 3x" data-type="player" id="253537" src="https://cdn.sofifa.net/players/notfound_0_60.png"/></figure></td>'

* Cleaning Name

In [289]:
clean_name=re.sub('<td.*\n.*s">|<\/div.*>',"",arr[1])
clean_name

'B. Castillo'

* Cleaning Age

In [290]:
clean_age=re.sub('<td.*e">|<.*>',"",arr[11])
clean_age

'21'

* Cleaning OVA

In [291]:
clean_ova=re.sub('<td.*p.*">|<.*>',"",arr[3])
clean_ova

'76'

* Cleaning POT

In [292]:
clean_pot=re.sub('<td.*p.*">|<.*>',"",arr[4])
clean_pot

'81'

* Cleaning Team & Contract

In [293]:
clean_team=re.sub('<td.*\n<d.*\n<i.*\n</f.*\n.*/">|<.*\n.*>\n.*>\n.*>',"",arr[5])
clean_team

'Barcelona Sporting Club'

* Cleaning Value

In [294]:
clean_value=re.sub('<td.*">|<.*>',"",arr[6])
clean_value

'€11M'

* Cleaning Wage

In [295]:
clean_wage=re.sub('<td.*">|<.*>',"",arr[7])
clean_wage

'€1K'

* Cleaning Total

In [296]:
clean_total=re.sub('<td.*">|<.*>',"",arr[8])
clean_total

'1898'

* Looping through the data

In [311]:
#0-8
img=[]
name=[]
age=[]
ova=[]
pot=[]
team=[]
value=[]
wage=[]
total=[]

count=0
for j in range(1,10):
    url=f"https://sofifa.com/players?offset=1{j}"
    req=requests.get(url)
    soup=BeautifulSoup(req.content)
    
    for i in soup.findAll('td'):
        clean_img=re.sub('<td.*\n.*data-src=.|".*',"",str(i))
        clean_name=re.sub('<td.*\n.*s">|<\/div.*>',"",str(i))
        clean_age=re.sub('<td.*e">|<.*>',"",str(i))
        clean_ova=re.sub('<td.*p.*">|<.*>',"",str(i))
        clean_pot=re.sub('<td.*p.*">|<.*>',"",str(i))
        clean_team=re.sub('<td.*\n<d.*\n<i.*\n</f.*\n.*/">|<.*\n.*>\n.*>\n.*>',"",str(i))
        clean_value=re.sub('<td.*">|<.*>',"",str(i))
        clean_wage=re.sub('<td.*">|<.*>',"",str(i))
        clean_total=re.sub('<td.*">|<.*>',"",str(i))
        
        if count==0:
            img.append(clean_img)
            count+=1
        elif count==1:
            name.append(clean_name)
            count+=1
        elif count==2:
            age.append(clean_age)
            count+=1
        elif count==3:
            ova.append(clean_ova)
            count+=1
        elif count==4:
            pot.append(clean_pot)
            count+=1
        elif count==5:
            team.append(clean_team)
            count+=1
        elif count==6:
            value.append(clean_value)
            count+=1
        elif count==7:
            wage.append(clean_wage)
            count+=1
        else:
            count=0
            total.append(clean_total)

In [312]:
fifa=pd.DataFrame({'Image':img,'Name':name,'Age':age,'OVA':ova,'POT':pot,'Team':team,'Value':value,'Wage':wage,'Total':total})
fifa

,Image,Name,Age,OVA,POT,Team,Value,Wage,Total
0,https://cdn.sofifa.net/players/232/411/22_60.png,C. Nkunku,23,86,89,RB Leipzig,€93M,€110K,2199
1,https://cdn.sofifa.net/players/264/240/22_60.png,Gavi,16,77,89,FC Barcelona,€24M,€14K,1970
2,https://cdn.sofifa.net/players/257/289/22_60.png,H. Ekitike,19,72,82,Stade de Reims,€5M,€12K,1691
3,https://cdn.sofifa.net/players/158/023/22_60.png,L. Messi,34,92,92,Paris Saint-Germain,€69.5M,€290K,2206
4,https://cdn.sofifa.net/players/210/413/22_60.png,A. Romagnoli,26,81,81,AC Milan,€24.5M,€46K,1746
...,...,...,...,...,...,...,...,...,...
535,https://cdn.sofifa.net/players/205/693/22_60.png,S. Haller,27,82,83,Ajax,€35.5M,€27K,1944
536,https://cdn.sofifa.net/players/248/808/22_60.png,A. Hickey,19,73,85,Bologna,€7M,€12K,1834
537,https://cdn.sofifa.net/players/266/032/22_60.png,J. Bynoe-Gittens,16,65,85,Borussia Dortmund,€1.9M,€3K,1554
538,https://cdn.sofifa.net/players/239/380/22_60.png,N. Lang,22,78,85,Club Brugge KV,€28.5M,€27K,2011
539,https://cdn.sofifa.net/players/246/174/22_60.png,H. Elliott,18,73,87,Liverpool,€7M,€23K,1723

https://google.com1
https://google.com2
https://google.com3
https://google.com4
https://google.com5
https://google.com6
https://google.com7
https://google.com8
https://google.com9